{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}


    <p>
    Please choose a combination of lottery amount and the probability of winning that lottery below.
    </p>


    <div>
        <button name="options" value="x" class="btn btn-primary btn-large">Probability = 0.75, Amount = $3</button>
    </div>

    <div>
        <button name="options" value="y" class="btn btn-primary btn-large">Probability = 0.25, Amount = $5</button>
    </div>

    <div>
        <button name="options" value="z" class="btn btn-primary btn-large">Probability = 0.4, Amount = $1</button>
    </div>

    <div>
        <button name="options" value="z'" class="btn btn-primary btn-large">Probability = 0.6, Amount = $2</button>
    </div>



{% endblock %}